.rodape{
    background: cadetblue;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
    padding-top: 4rem;
    text-align: center;
    height: 4rem;
    align-items: center;
}